# Describing the characteristics of the mobility ties

In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import networkx as nx
import matplotlib.pyplot as plt
import pickle
import copy

Bad key text.latex.unicode in file /home/jtl/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 112 ('text.latex.unicode : False # use "ucs" and "inputenc" LaTeX packages for handling')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key text.latex.preview in file /home/jtl/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 125 ('text.latex.preview : False')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key mathtext.fallback_to_cm in file /home/jtl/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 157 ('mathtext.fallback_to_cm : True  # When True, use symbols from the Computer Modern')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key savefig.jpeg_quality in file /home/jtl/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 420 ('savefig.jpeg_quality: 95       # when a jpeg is saved, the default quality parameter.')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key savefig.frameon in file /home/jtl/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 423 ('savefig.frameon : True')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key pgf.debug in file /home/jtl/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 444 ('pgf.debug           : False')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.level in file /home/jtl/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 475 ('verbose.level  : silent      # one of silent, helpful, debug, debug-annoying')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.fileo in file /home/jtl/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 476 ('verbose.fileo  : sys.stdout  # a log filename, sys.stdout or sys.stderr')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key keymap.all_axes in file /home/jtl/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 493 ('keymap.all_axes : a                 # enable all axes')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_path in file /home/jtl/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 504 ('animation.avconv_path: avconv     # Path to avconv binary. Without full path')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_args in file /home/jtl/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 506 ('animation.avconv_args:            # Additional arguments to pass to avconv')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.1/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
with open("../../data/03_processed/A_home_activity_three_cities_weighted_dic.pickle", 'rb') as f:
    A_home_weighted_dic = pickle.load(f)

In [3]:
# read files.
# Reading the files can be quite slow!
with open('../../data/02_intermediate/boston_stays.pickle', 'rb') as f:
    df_boston = pickle.load(f)
    
with open('../../data/02_intermediate/chicago_stays.pickle', 'rb') as f:
    df_chicago = pickle.load(f)
    
with open('../../data/02_intermediate/miami_stays.pickle', 'rb') as f:
    df_miami = pickle.load(f)

In [4]:
# create a stay dictionary
stays = {}
stays['boston'] = df_boston
stays['chicago'] = df_chicago
stays['miami'] = df_miami

In [5]:
# read lasso results
with open('../../data/05_model_outputs/lasso_coefficients.pickle', 'rb') as f:
    coeff_dic = pickle.load(f)

In [6]:
# 
stays_df = pd.concat(stays, axis = 0)
stays_df

                                                              user  duration  \
boston 0         0000ff45f7f170db960e4e601167975f7559c5be147d69...       388
       1         000277100d5593fec35a151e228f6a485210a3fa87cda7...       600
       2         000277100d5593fec35a151e228f6a485210a3fa87cda7...      4086
       3         000277100d5593fec35a151e228f6a485210a3fa87cda7...      1211
       4         000277100d5593fec35a151e228f6a485210a3fa87cda7...       621
...                                                            ...       ...
miami  46219010  ffffb1a5fa058a91c8db0c4241fadc7667dcefc27b1449...       651
       46219011  ffffb1a5fa058a91c8db0c4241fadc7667dcefc27b1449...       904
       46219012  ffffb1a5fa058a91c8db0c4241fadc7667dcefc27b1449...      2157
       46219013  ffffb1a5fa058a91c8db0c4241fadc7667dcefc27b1449...      2523
       46219014  ffffb1a5fa058a91c8db0c4241fadc7667dcefc27b1449...       587

                      ini_dat  lon_medoid  lat_medoid        GEOID  \
boston 0         1.481736e+09  -71.258500   42.359965  25017368400
       1         1.478995e+09  -71.149170   42.332710  25021401100
       2         1.481411e+09  -71.151375   42.336340  25025000502
       3         1.481563e+09  -71.207125   42.349600  25017373400
       4         1.482095e+09  -71.175305   42.318550  25017373900
...                       ...         ...         ...          ...
miami  46219010  1.490811e+09  -80.230065   25.866730  12086000408
       46219011  1.490920e+09  -80.264373   25.954238  12086010009
       46219012  1.490921e+09  -80.264495   25.954195  12086010009
       46219013  1.490977e+09  -80.228517   25.866778  12086000408
       46219014  1.490985e+09  -80.230033   25.866822  12086000408

                 home_lon_med  home_lat_med   GEOID_home  quant  \
boston 0           -71.284748     42.558568  25017316400      3
       1           -71.175020     42.300842  25017373900      4
       2           -71.175020     42.300842  25017373900      4
       3           -71.175020     42.300842  25017373900      4
       4           -71.175020     42.300842  25017373900      4
...                       ...           ...          ...    ...
miami  46219010    -80.237455     25.849600  12086001003      1
       46219011    -80.237455     25.849600  12086001003      1
       46219012    -80.237455     25.849600  12086001003      1
       46219013    -80.237455     25.849600  12086001003      1
       46219014    -80.237455     25.849600  12086001003      1

                                   fsq_id                   cat     distPOI  \
boston 0         5390bb9c498e21833a58c208                Office    0.001016
       1         4e5e3cb31838f7255272d5e6  Arts & Entertainment    0.001723
       2         4e0b572db61cf2466a0f3c6e                  Pool    0.000166
       3         51e1752f498ea376f1942680               Jewelry    0.000149
       4         52edbf4f498e284de9956efb           Supermarket    0.000012
...                                   ...                   ...         ...
miami  46219010  4d710029766da143ad2157ad          Trade School   48.817487
       46219011  4e29e7d9aeb745b1fab29913             Spiritual   19.432149
       46219012  4e29e7d9aeb745b1fab29913             Spiritual   31.064430
       46219013  4e1b71c3d16498449dc25df4                School  138.791219
       46219014  4e219f86ae6015b212a76316           Residential   48.719244

                     disthome  hour_of_day  day_of_week  weekday  weekend
boston 0            22.188364           14            3     True    False
       1             4.132097           20            6    False     True
       2             4.399966           20            6    False     True
       3             6.029946           14            1     True    False
       4             1.969160           17            0    False     True
...                       ...          ...          ...      ...      ...
miami  46219010   2043.275486           15            3     True    False
       46219011  11942.669400           21            4     True    False
       46219012  11940.747742           21            4     True    False
       46219013   2109.173114           13            5     True    False
       46219014   2053.936575           15            5     True    False

[125782627 rows x 18 columns]

In [7]:
# save locations
fig_location = '../../../economic-strength-of-weak-mobility-ties-paper-/figs/'
table_location = '../../../economic-strength-of-weak-mobility-ties-paper-/tables/'

## Describe stats (aggregate) for three cities

In [8]:
stays_df.shape

(125782627, 18)

In [10]:
user_counts = np.unique(stays_df['user'], return_counts=True)
print(len(user_counts[0]))

560693

In [11]:
venue_counts = np.unique(stays_df['fsq_id'], return_counts=True)
print(len(venue_counts[0]))

386006

In [12]:
cat_counts = np.unique(stays_df['cat'], return_counts=True)
print(len(cat_counts[0]))

687

In [14]:
# time. Then search online to translate the value. 
min_time = np.min(stays_df['ini_dat'])
max_time = np.max(stays_df['ini_dat'])
print(min_timetime)
print(max_time)

1475208013.0
1491172174.0

In [17]:
# city list
stays_df['city'] = ['boston']*df_boston.shape[0] + ['chicago']*df_chicago.shape[0] + ['miami']*df_miami.shape[0]

In [18]:
# groupby cities. 
visit_counts = stays_df.groupby('city').size()
unique_users = stays_df.groupby('city')['user'].nunique()
unique_venues = stays_df.groupby('city')['fsq_id'].nunique()
ave_duration = stays_df.groupby('city')['duration'].mean()
ave_weekday_ratio = stays_df.groupby('city')['weekday'].mean()
ave_home_distance = stays_df.groupby('city')['disthome'].mean()

visit_counts = visit_counts.rename("# of visits")
unique_venues = unique_venues.rename("# of venues")
unique_users = unique_users.rename("# of users")
ave_duration = ave_duration.rename("Duration")
ave_duration = np.round_(ave_duration, decimals = 1)
ave_weekday_ratio = ave_weekday_ratio.rename("Weekday ratio")
ave_weekday_ratio = np.round_(ave_weekday_ratio, decimals = 3)
# ave_home_distance = ave_home_distance.rename("Home distance")
# ave_home_distance = np.round_(ave_home_distance, decimals = 1)

In [20]:
activity_cities = pd.concat([visit_counts, unique_venues, unique_users, ave_duration, ave_weekday_ratio], axis = 1)
activity_cities

         # of visits  # of venues  # of users  Duration  Weekday ratio
city
boston      12053805        84576       72803    2628.8          0.748
chicago     67509807       186512      301060    2593.6          0.736
miami       46219015       114918      187176    2530.9          0.734

## Describe Activities

- Index: activity categories.
- Columns:
    - num of visits (Just counts)
    - num of users (uniqueness)
    - num of venues (uniqueness)
    - Average of durations
    - Average of weekday visits
    - Average of home distance

In [20]:
visit_counts = stays_df.groupby('cat').size()
visit_counts

cat
ATM                         89158
Academic Building          319041
Accessories                 77984
Acupuncturist               37924
Administrative Building    201605
                            ...
Women's Store              204431
Yoga Studio                145284
Yogurt                      51549
Zoo                         20188
Zoo Exhibit                 32360
Length: 687, dtype: int64

In [22]:
unique_users = stays_df.groupby('cat')['user'].nunique()
unique_users

cat
ATM                        25574
Academic Building          45386
Accessories                36832
Acupuncturist               7118
Administrative Building    31089
                           ...
Women's Store              80779
Yoga Studio                30698
Yogurt                     24490
Zoo                         3110
Zoo Exhibit                 7974
Name: user, Length: 687, dtype: int64

In [23]:
unique_venues = stays_df.groupby('cat')['fsq_id'].nunique()
unique_venues

cat
ATM                         307
Academic Building          1118
Accessories                 364
Acupuncturist               214
Administrative Building     955
                           ...
Women's Store              1055
Yoga Studio                 846
Yogurt                      317
Zoo                          39
Zoo Exhibit                 184
Name: fsq_id, Length: 687, dtype: int64

In [24]:
ave_duration = stays_df.groupby('cat')['duration'].mean()
ave_duration

cat
ATM                        1893.418930
Academic Building          2983.956122
Accessories                2037.541765
Acupuncturist              2825.867656
Administrative Building    2874.617728
                              ...
Women's Store              1987.989483
Yoga Studio                2743.195810
Yogurt                     2041.960426
Zoo                        2697.311125
Zoo Exhibit                2416.716378
Name: duration, Length: 687, dtype: float64

In [25]:
ave_weekday_ratio = stays_df.groupby('cat')['weekday'].mean()
ave_weekday_ratio

cat
ATM                        0.699926
Academic Building          0.834912
Accessories                0.653467
Acupuncturist              0.758227
Administrative Building    0.842261
                             ...
Women's Store              0.670642
Yoga Studio                0.745863
Yogurt                     0.712254
Zoo                        0.666782
Zoo Exhibit                0.626174
Name: weekday, Length: 687, dtype: float64

In [26]:
ave_home_distance = stays_df.groupby('cat')['disthome'].mean()
ave_home_distance

cat
ATM                         6107.653602
Academic Building           8563.889695
Accessories                11909.335720
Acupuncturist               5911.196376
Administrative Building     8836.846770
                               ...
Women's Store               9940.581914
Yoga Studio                 6434.345364
Yogurt                      9685.687309
Zoo                         7146.411736
Zoo Exhibit                12966.600075
Name: disthome, Length: 687, dtype: float64

In [84]:
strength_ranking

0        1
1        2
2        3
3        4
4        5
      ...
682    683
683    684
684    685
685    686
686    687
Name: Strength ranking, Length: 687, dtype: int64

In [90]:
### 
visit_counts = visit_counts.rename("# of visits")
unique_venues = unique_venues.rename("# of venues")
unique_users = unique_users.rename("# of users")
ave_duration = ave_duration.rename("Average duration")
ave_duration = np.round_(ave_duration, decimals = 1)
ave_weekday_ratio = ave_weekday_ratio.rename("Average weekday ratio")
ave_weekday_ratio = np.round_(ave_weekday_ratio, decimals = 3)
ave_home_distance = ave_home_distance.rename("Average home distance")
ave_home_distance = np.round_(ave_home_distance, decimals = 1)

activities = pd.concat([visit_counts, unique_venues, unique_users, ave_duration, ave_weekday_ratio, ave_home_distance], axis = 1)
sorted_activities = activities.sort_values('# of visits', ascending=False)

# add ranking
sorted_activities['Ranking of visits'] = np.arange(sorted_activities.shape[0]) + 1

sorted_activities

,# of visits,# of venues,# of users,Average duration,Average weekday ratio,Average home distance,Ranking of visits
cat,,,,,,,
Office,5594655,18228,315116,2927.0,0.842,11069.0,1
Building,4886125,12824,294093,2694.0,0.806,9453.0,2
Residential,4653500,10955,216716,3022.0,0.721,4621.0,3
Church,3212157,6248,217977,2770.0,0.653,5058.0,4
Automotive,2611209,8873,241838,2428.0,0.763,7735.0,5
...,...,...,...,...,...,...,...
Line / Queue,17,1,6,3319.0,0.824,7.0,683
Burmese,13,1,11,4508.0,0.692,10.0,684
Romanian,6,1,6,1125.0,0.833,2.0,685
Bay,5,1,4,656.0,0.400,7821.0,686
Outdoor Gym,1,1,1,468.0,0.000,12.0,687

In [91]:
# reporting strong mobility networks (top 100)
strong_ties = sorted_activities.iloc[:100, :]
strong_ties

,# of visits,# of venues,# of users,Average duration,Average weekday ratio,Average home distance,Ranking of visits
cat,,,,,,,
Office,5594655,18228,315116,2927.0,0.842,11069.0,1
Building,4886125,12824,294093,2694.0,0.806,9453.0,2
Residential,4653500,10955,216716,3022.0,0.721,4621.0,3
Church,3212157,6248,217977,2770.0,0.653,5058.0,4
Automotive,2611209,8873,241838,2428.0,0.763,7735.0,5
...,...,...,...,...,...,...,...
Dive Bar,313517,844,39212,3017.0,0.692,4723.0,96
Rental Car,311361,1443,59736,2378.0,0.766,9576.0,97
Non-Profit,293027,961,39037,2824.0,0.768,7555.0,98
BBQ,290288,805,59948,2619.0,0.698,6444.0,99
Food Truck,288290,938,48729,2565.0,0.748,7831.0,100

In [92]:
# reporting weak mobility networks (bottom 100)
weak_ties = sorted_activities.iloc[-100:, :]
weak_ties

,# of visits,# of venues,# of users,Average duration,Average weekday ratio,Average home distance,Ranking of visits
cat,,,,,,,
Prayer Room,1720,6,412,3396.0,0.768,13535.0,588
Malay,1609,6,393,2723.0,0.682,2320.0,589
Herbs & Spices Store,1594,20,934,2205.0,0.688,14018.0,590
Child Care,1481,7,288,2697.0,0.720,3700.0,591
Organic Grocery,1463,8,723,1962.0,0.724,9880.0,592
...,...,...,...,...,...,...,...
Line / Queue,17,1,6,3319.0,0.824,7.0,683
Burmese,13,1,11,4508.0,0.692,10.0,684
Romanian,6,1,6,1125.0,0.833,2.0,685
Bay,5,1,4,656.0,0.400,7821.0,686
Outdoor Gym,1,1,1,468.0,0.000,12.0,687

In [79]:
# union of the predictive activities
unique_predictive_activities = []
for city in ['boston','chicago','miami']:
    for output in ['inc_median_household_2018','property_value_median_2018','rent_median_2018']:
        unique_predictive_activities = unique_predictive_activities + list(coeff_dic[city][output]['lasso (no socio-demographics)'].index)
        
unique_predictive_activities = np.unique(unique_predictive_activities, return_counts=True)
unique_predictive_activities

# choose only those with more than 1 time. (For some robustness...)
unique_predictive_activities = unique_predictive_activities[0][unique_predictive_activities[1] > 1]
unique_predictive_activities
print(len(unique_predictive_activities))

29

In [95]:
# reporting predictive mobility networks (union of all lasso coefficients)
# add a ranking column?
predictive_ties = sorted_activities.loc[unique_predictive_activities, :].sort_values('Ranking of visits', ascending=True)
predictive_ties

,# of visits,# of venues,# of users,Average duration,Average weekday ratio,Average home distance,Ranking of visits
cat,,,,,,,
Golf Course,389112,769,43900,2501.0,0.694,6953.0,80
Discount Store,376409,1083,108835,1825.0,0.695,6593.0,83
Storage,274543,1008,37935,2493.0,0.757,7449.0,109
Hot Dogs,215221,593,64791,2110.0,0.718,9654.0,137
Latin American,205567,693,50206,2142.0,0.713,8343.0,143
Theater,204486,838,46934,2908.0,0.734,11355.0,144
Caribbean,173128,581,36566,2433.0,0.703,6709.0,158
Tennis Court,172035,403,18199,2748.0,0.731,5189.0,160
Sushi,149132,768,54555,2433.0,0.718,9295.0,179
University,126863,522,21102,3115.0,0.824,9905.0,198
Synagogue,115852,293,13144,2868.0,0.730,5106.0,211
New American,95280,368,34275,2586.0,0.721,11941.0,233
Football,90347,243,19986,2279.0,0.508,14858.0,237
Skating Rink,89760,192,16312,2712.0,0.592,10237.0,239
Bagels,83303,356,26115,2372.0,0.729,7837.0,245
Gastropub,67983,197,21379,2801.0,0.709,9062.0,265
French,65534,248,17782,2683.0,0.743,9764.0,267
Hockey,52972,89,15810,2777.0,0.648,11182.0,291
Salad,48817,162,16500,2322.0,0.790,12194.0,303
Brazilian,44090,179,13110,2471.0,0.708,8522.0,311
Baseball,34921,150,8746,2261.0,0.663,14555.0,343
Laundromat,32008,142,7493,2579.0,0.695,4599.0,352
Art Museum,29062,124,7794,2356.0,0.717,11072.0,359
Pilates Studio,25077,161,7616,2718.0,0.730,6462.0,372
Basketball,21819,48,7113,2411.0,0.690,17085.0,378
Pawn Shop,16237,77,4452,2098.0,0.704,6388.0,414
Check Cashing Service,11381,55,3823,2403.0,0.727,6924.0,448
Kitchen Supply,5307,24,3580,1824.0,0.626,15069.0,510
Kosher,946,12,391,2867.0,0.778,7647.0,607

# Saving

In [98]:
# save to latex
with open(table_location+'description_activity_cities.tex', 'w') as f:
    f.write(activity_cities.to_latex())

with open(table_location+'description_strong_activities.tex', 'w') as f:
    f.write(strong_ties.to_latex())

with open(table_location+'description_weak_activities.tex', 'w') as f:
    f.write(weak_ties.to_latex())

with open(table_location+'description_predictive_activities.tex', 'w') as f:
    f.write(predictive_ties.to_latex())